@()

<!DOCTYPE html>

<html>
    <head>
        <title>JsMessages Scala Sample</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <script type="text/javascript" src="@routes.Application.filterAllMessages()"></script>
        <script type="text/javascript">
          (function () {
            var tests = [];
            var MessagesEn = Messages('en');

            tests.push(MessagesEn('error.required'));
            tests.push(MessagesEn('greeting', 'World', 'Ignore this'));
            tests.push(MessagesEn(['wrong', 'try again', 'greeting'], 'People'));
            tests.push(MessagesEn('root.parent.child'));

            tests.push(Messages('en', 'error.maxLength'));

            for (var i = 0, l = tests.length; i < l; ++i) {
              var el = document.createElement('div');
              el.innerHTML = tests[i];
              document.body.appendChild(el);
            }
          })();
        </script>
    </body>
</html>
