@()

<!DOCTYPE html>

<html>
    <head>
        <title>JsMessages Scala Sample</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <script type="text/javascript" src="@routes.Application.subsetAllMessages()"></script>
        <script type="text/javascript">
          (function () {
            var tests = [];

            tests.push(Messages('en-US', 'greeting', 'World', 'Ignore this'));
            tests.push(Messages('en-US', ['wrong', 'try again', 'greeting'], 'People'));
            tests.push(Messages('en-US', 'root.parent.child'));
            tests.push(Messages('en-US', 'apostrophe'));
            tests.push(Messages('en-US', 'error.maxLength'));

            for (var i = 0, l = tests.length; i < l; ++i) {
              var el = document.createElement('div');
              el.innerHTML = tests[i];
              document.body.appendChild(el);
            }
          })();
        </script>
    </body>
</html>
